@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rajdhani', sans-serif;
    background-color: #000114;
    color: #fff;
}

.light {
    position: absolute;
    width: 0px;
    opacity: .75;
    background-color: white;
    box-shadow: #e9f1f1 0px 0px 20px 2px;
    opacity: 0;
    top: 100vh;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

button:focus{
  outline: none;
}

@-webkit-keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}
@-moz-keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}
@-o-keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}
@keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}


.caixa {
    background: transparent;
    width: 90vw;
    height: 90vh;
    margin: auto;
    margin-top: 30px;
    border: 3px solid #00B4FF;
    box-shadow:
        0 0 10px #00B4FF,
        0 0 25px rgba(0, 180, 255, 0.6),
        inset 0 0 15px rgba(0, 180, 255, 0.3);

    backdrop-filter: blur(4px);
    padding: 0 10px 30px 10px;
    overflow-y: auto;
}

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 160px;
    font-size: 30px;

    & h2 {
        padding-bottom: 10px;
    }

    & input {
        margin-top: 15px;
        padding: 5px 8px 5px 8px;
        border: none;
        border-radius: 10px;
        outline: none;
        background-color: darkblue;
        color: #fff;
        box-shadow: 1px 1px 25px 3px rgba(0, 17, 255, 0.479);

    }
}