@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rajdhani', sans-serif;
    background-color: #000114;
    color: #fff;
}

.titulo {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 20px;
}

.caixa {
    background: transparent;
    width: 90vw;
    height: 90vh;
    margin: auto;
    margin-top: 30px;
    border: 3px solid #00B4FF;
    box-shadow:
        0 0 10px #00B4FF,
        0 0 25px rgba(0, 180, 255, 0.6),
        inset 0 0 15px rgba(0, 180, 255, 0.3);

    backdrop-filter: blur(4px);
    padding: 0 10px 30px 10px;
    overflow-y: auto;
}

.missoes-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-items: center;
    height: 400px;
}

.missoes-card {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    overflow: hidden;
    transition: all 0.5s ease;
    cursor: pointer;

    width: 140px;
    height: 170px;
    border: 1px solid #00B4FF;
    border-radius: 20px;
    box-shadow:
        0 0 10px #00B4FF,
        0 0 25px rgba(0, 180, 255, 0.6),
        inset 0 0 15px rgba(0, 180, 255, 0.3);

    & h3 {
        display: flex;
        justify-content: center;
        padding: 5px 0 5px 0;
    }

    & img {
        width: 100%;
        background-color: #ffffff;

    }
}